/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width: 320px) and (max-width: 650px) {
	.works {
		background: rgba(255, 255, 255, 0);
		left: 65%;
		transform: skewX(0);
	}
	.worklist {
		background: rgba(255, 255, 255, 1);
	}
	
	.works-title {
		justify-content: flex-start;
		margin-top: 175px;
	}
	.worklist .works-title {
		margin-top: 0 !important;
	}
	.works h1 {
		display: none;
	}
	.profile {
		padding: 2rem 3rem;
	}
	.btn {
		transform: skewX(0);
	}
	.graphic-logo {
		width: 96%;
	}
	.graphic-cont img {
		max-height: 100px;
	}
	.visual-title {
		margin-bottom: 0;
	}
	.visual-title h2 {
		font-size: 2rem;
	}
	.port-show {
		width: 85.5%;
	}
	.port-show h2 {
		margin: 0;
	}
	.work-visual {
		width: 85.5%;
		margin: 3rem auto;
		padding: 6rem 0 6rem 0;
	}
}