/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width: 320px) and (max-width: 650px) {
	.works {
		background: rgba(255, 255, 255, 0);
		left: 65%;
		transform: skewX(0);
	}
	.worklist {
		background: rgba(255, 255, 255, 1);
	}
	
	.works-title {
		justify-content: flex-start;
		margin-top: 175px;
	}
	.works h1 {
		display: none;
	}
	.profile {
		padding: 2rem 3rem;
	}
	.btn {
		transform: skewX(0);
	}
	.graphic-logo {
		width: 96%;
	}
	.graphic-cont img {
		max-height: 100px;
	}
}