.main {
	width: 100%;
	display: flex;
}
.head {
	text-align: center;
	font-size: 5rem;
}
.about-me {
	position: relative;
	display: flex;
	align-items: center;
	/* background-image: linear-gradient(to left top, rgba(154, 130, 255, 0.5), rgba(154, 130, 255, 0.5)), url(../images/bg2.png); */
	background-color: #87cef7;
	background-image: url(../images/bg2.png);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
	width: 100%;
	height: 100vh;
	z-index: 1;
	/* text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); */
	/* clip-path: polygon(0 0, 80% 0, 70% 100%, 0% 100%);
	transition: cubic-bezier(0.22, 0.61, 0.36, 1) all .4s; */
}

.about-me:hover {
	/* clip-path: polygon(0 0, 85% 0, 75% 100%, 0% 100%); */
}

.profile {
	color: #ffffff;
	padding: 2rem 5rem;
	text-shadow: 1px 2px 6px rgb(139, 182, 216);
	transition: .3s ease all;
}
.profile:hover {
	text-shadow: 1px 8px 10px rgb(139, 182, 216);
}
.profile h1 {
	font-size: 4.5rem;
	float: left;
}
.profile ul {
	clear: both;
	padding: 1rem 0;
}
.profile ul li {
	padding-bottom: .8rem;
	word-break: break-all;
}
.name-chi {
	font-size: 1.2rem;
	text-align: right;
	letter-spacing: 1.6rem;
}
.lists {
	font-weight: bold;
	font-size: 1.2rem;
}
.lists-info {
	font-size: .8rem;
}







.btn{
	display: flex;
	align-items: center;
	background-image: url(../images/right-arrow.svg);
	background-color: #f2b6c7;
	background-size: 20%;
    background-repeat: no-repeat;
    background-position: 88% center;
	color: #FFF;
	font-size: .8rem;
	text-decoration: none;
	width: 70px;
	height: 70px;
	padding: 1.5rem;
	border-radius: 50%;
	transform: skewX(10deg);
	overflow: hidden;
}
.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 5rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all ease .3s; 
}
.btn:hover::after {
	transform: scale(1.5);
	opacity: 0; 
}
/* .btn:active {
	transform: translateY(-1px);
	box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.4); 
} */
  
.btn-white {
	background-color: #f2b6c7;
}
	.btn-white::after {
	  background-image: url(../images/right-arrow.svg);
	  background-color: #f2b6c7; 
	  background-size: 20%;
	  background-repeat: no-repeat;
	  background-position: 88% center;
	}
/* .btn:hover {
	box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2);
} */



@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
/* .checkbox:checked ~ .portfolio {
	display: block;
	width: 100%;
} */


nav {
	display: none;
	position: fixed;
	z-index: 10;
	width: 8%;
	height: 100vh;
}
nav a {
	font-size: 1.2rem;
	color: #FFF;
	letter-spacing: 0ch;
	display: block;
	margin-bottom: 6rem;
	padding-bottom: 2px;
	border-bottom: solid 1px #fff;
	transform: rotate(90deg);
	transition: all ease-out .2s;
}
nav ul {
	padding-top: 5rem;
}
nav ul li {
	
}
nav a:hover {
	color: #ddff43;
	border-bottom: solid 1px #ddff43;
	padding-left: 20px;
}